<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{"app.title"|translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">{{"app.title"|translate}}</ion-title>
    </ion-toolbar>
  </ion-header> 
  <div>
    <ion-list>
      <ion-item>
        <ion-select [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage($event)" placeholder="Select a Language">
          <div slot="label">{{"app.language"|translate}}</div>
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="ta">தமிழ்</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

  <div class="canvas-container">
    <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="draw($event)" (touchend)="endDrawing($event)"
      (mousedown)="startDrawing($event)" (mousemove)="draw($event)" (mouseup)="endDrawing($event)" width="300"
      height="200">
    </canvas>
  </div>
  <div class="ion-text-center ion-margin-top">
    <ion-button shape="round" color="danger" (click)="resetCanvas()">{{"app.reset"|translate}}</ion-button>
    <ion-button shape="round" color="primary" (click)="findOut()">{{"app.findOut"|translate}}</ion-button>
  </div>
  <div class="ion-text-center ion-margin-top">
    <div>{{"app.finded"|translate}}: <span style="font-size: 2em;color: brown;">{{recognizedChar}}</span></div>
    <!-- <div>If not correct might be: {{suggestions}}</div> -->
  </div>
</ion-content>