<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      தமிழ் எழுத்துக்கள்
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">தமிழ் எழுத்துக்கள்</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="canvas-container">
    <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="draw($event)" (touchend)="endDrawing($event)"
      (mousedown)="startDrawing($event)" (mousemove)="draw($event)" (mouseup)="endDrawing($event)" width="300"
      height="200">
    </canvas>
  </div>
  <div class="ion-text-center ion-margin-top">
    <ion-button shape="round" color="danger" (click)="resetCanvas()">அழி</ion-button>
    <ion-button shape="round" color="primary" (click)="findOut()">கண்டுபிடி</ion-button>
  </div>
  <div class="ion-text-center ion-margin-top">
    <div>கண்டுபிடிக்கப்பட்டது: <span style="font-size: 2em;color: brown;">{{recognizedChar}}</span></div>
    <!-- <div>If not correct might be: {{suggestions}}</div> -->
  </div>
</ion-content>